<ion-header>
  <ion-toolbar>
    <ion-title>Nova conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button title="Adicionar novas tarefas" translucent="true" routerLink="/home" routerDirection="auto">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>