<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-sm-center" class="ion-text-center">{{APF}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" color="dark" horizontal="end" slot="fixed" >
    <ion-fab-button (click)="addLancamentos()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div [ngSwitch]="APF" color="warning">
    <ion-list *ngSwitchCase="'dashboard'">
      <ion-card class="ion-padding">
        <img src="../../assets/imgs/FINANÇAS-PESSOAIS.png" />
        <ion-card-content>
          <ion-card-title>
            Aplicativo Financeiro
          </ion-card-title>
          <ion-text color="dark">
            Este aplicativo foi criado no curso
            Aplicativo Financeiro com Ionic3.
          </ion-text>
          <ion-row>
            <ion-col size="6">
              <ion-button shape="round">
                <ion-icon slot="start" name="logo-usd"></ion-icon>Saldo
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button color="danger" shape="round" routerLink="/contas" routerDirection="auto">
                <!-- (click)="contas()" (click)="saldo()" -->
                <ion-icon slot="start" name="paper"></ion-icon> Contas
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-card-title class="ion-text-center">
            Saldo
          </ion-card-title>
          <ion-toolbar color="dark">
            <ion-title>
              R$ 2.000,00
            </ion-title>
          </ion-toolbar>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  <div [ngSwitch]="APF">
    <ion-list *ngSwitchCase="'lançamentos'">
      <ion-card *ngFor="let lancamento of lancamentos">
        <ion-item>
          <ion-label>{{lancamento.descricao}} </ion-label>
        </ion-item>
      </ion-card>
    </ion-list>
  </div>

  <div [ngSwitch]="APF">
    <ion-list *ngSwitchCase="'relatórios'">
      teste
    </ion-list>
  </div>

  <div [ngSwitch]="APF">
    <ion-list *ngSwitchCase="'sobre'">
      <ion-text color="primary">
        <h1>Sobre o app</h1>
      </ion-text>
    </ion-list>
  </div>

</ion-content>
<!-- Termino da ion-content -->
<!-- Inicio da ion-footer (ionChange)="segmentChanged($event)" -->
<ion-footer>
  <ion-toolbar>
    <ion-segment color="dark" scrollable [(ngModel)]="APF">
      <ion-segment-button value="dashboard" checked>
        <ion-icon name="cash"></ion-icon>
        <ion-label>ApFinanças19</ion-label>
      </ion-segment-button>
      <ion-segment-button value="lançamentos">
        <ion-icon name="jet"></ion-icon>
        <ion-label>Lançamentos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="relatórios">
        <ion-icon name="analytics"></ion-icon>
        <ion-label>Relatórios</ion-label>
      </ion-segment-button>
      <ion-segment-button value="sobre">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Info</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
<!-- Termino da ion-footer -->